<div class="container mt-3 px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/left', newbook:@newbook, user:@user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to image_tag(book.user.get_profile_image, size: "75x75"), user_path(book.user_id) %></td>
              <td><%= link_to book.title, book_path(book.id) %></td>
              <td><%= book.body %></td>
              <td>
                <% if book.favorited_by?(current_user) %>
                  <%= link_to book_favorites_path(book.id), method: :delete do %>
                    <p class="text-danger"><i class="fas fa-heart"></i><%= book.favorites.count %></p>
                  <% end %>
                <% else %>
                  <%= link_to book_favorites_path(book.id), method: :post do %>
                    <p class="text-primary"><i class="fas fa-heart"></i><%= book.favorites.count %></p>
                  <% end %>
                <% end %>
              </td>
              <td>コメント数: <%= "#{book.book_comments.count}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>