<div class="container mt-3 px-5 px-sm-0">
  <div id="error_explanation">
    <% if @newbook.errors.any? %>
      <h3><%= @newbook.errors.count %>
            <% if @newbook.errors.count == 1 %>
              error
            <% else %>
              errors
            <% end %>
            prohibited this obj from being saved:
          </h3>
      <ul>
        <% @newbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= render 'left', newbook:@newbook, user:@user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= link_to image_tag(book.user.get_profile_image, size: "75x75"), user_path(book.user_id) %></th>
              <td><%= link_to book.title, book_path(book.id) %></th>
              <td><%= book.body %></th>
              <% if book.favorited_by?(current_user) %>
                <td>
                  <%= link_to book_favorites_path(book.id), method: :delete do %>
                    <p class="text-danger"><i class="fas fa-heart"></i><%= book.favorites.count %></p>
                  <% end %>
                </td>
              <% else %>
                <td>
                  <%= link_to book_favorites_path(book.id), method: :post do %>
                    <p class="text-primary"><i class="fas fa-heart" style></i><%= book.favorites.count %></p>
                  <% end %>
                </td>
              <% end %>
              <td>コメント数: <%= "#{book.book_comments.count}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>